/* Common styles for all screen sizes */
body {
    background-color: #1A1B1E;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center; 
}

.centered-content {
    margin: 0 auto;
}

.centered-image {
    display: block;
    margin: 0 auto;
}

header {
    background-color: #25262b;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo img {
    width: 70px;
    height: 70px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
    padding-right: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
}

label {
    display: block;
}

select {
    width: 50%;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style the select dropdown arrow */
select::after {
    content: "\25BC"; /* Unicode down arrow character */
    position: absolute;
    top: 15px;
    right: 10px;
}

/* Style select when it's hovered */
select:hover {
    border-color: #333;
}

#search-bar {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}


.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 100px;
}

.card {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    width: 200px;
    cursor: pointer;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    max-width: 100%;
    height: 180px;
}

.card-info-container {
    display: inline-flex;
    align-items: center;
}

.card-info-container img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.Bakugan-info-container {
    display: inline-flex;
    align-items: center;
}

.Bakugan-info-container img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.Bakugan-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 100px;
}

.Bakugan {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    width: 200px;
    cursor: pointer;
    transition: transform 0.2s;
}

.Bakugan:hover {
    transform: scale(1.05);
}

.Bakugan img {
    max-width: 100%;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Vertical stacking of elements */
}

#popup-image {
    height: 40vh;
}

#popup-text {
    background: #25262b;
    padding: 20px;
    border-radius: 5px;
}

.popup-header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.popup-close-button {
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 100px;
    z-index: 999; /* Ensures it's on top of other elements */
    color: #911f1f; /* Customize the color */
}

.popup-close-button:hover {
    color: red; /* Customize the hover color */
}

#popup-image-container {
    margin: 20px; /* Add some spacing */
}

footer {
    background-color: #25262b;
    color: white;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}

/* This CSS for the homepage boxes */
.homepage-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
    padding-bottom: 50px;
}

.box {
    background-color: #25262b;
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
    transition: transform 0.2s;
    cursor: pointer;
    border: 0.0625rem solid #373A40;
}

.box:hover {
    transform: scale(1.05);
}

.box a {
    text-decoration: none;
    color: #333;
}

.box img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

/* Optional: Add additional CSS for the text under the images */
.box p {
    font-size: 16px;
    margin: 0;
}

/* Clear styling for anchor tags inside boxes */
.box a {
    text-decoration: none;
    color: inherit;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Centre les cartes horizontalement et ajoute de l'espace entre les articles */
    margin: 20px;
    padding-bottom: 100px;
}

.article-card {
    width: calc(50% - 10px);
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    background-color: #25262b;
    color: #fff;
}

.article-card img {
    max-width: 100%;
    height: auto;
}

.article-button {
  display: block;
  margin-top: 10px;
  background-color: #bd4040;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

.article-button:hover {
  background-color: #bb2a2a;
}

.filter-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
    padding-bottom: 50px;
}

.filter-box {
    background-color: #25262b;
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
    transition: transform 0.2s;
    cursor: pointer;
    border: 0.0625rem solid #373A40;
}

.filter-box:hover {
    transform: scale(1.05);
}

.filter-box button {
    padding: 0;
border: none;
background: none;
}

.filter-box img {
    max-width: 100%;
    height: 30px;
    display: block;
    margin: 0 auto 10px;
}

/* Optional: Add additional CSS for the text under the images */
.filter-box p {
    font-size: 16px;
    margin: 0;
}

/* Clear styling for anchor tags inside boxes */
.filter-box a {
    text-decoration: none;
    color: inherit;
}
/* Mobile responsive styles */
@media (max-width: 768px) {
    header {
        padding: 5px; /* Reduce header padding for smaller screens */
    }

    .logo img {
        width: 60px; /* Adjust logo size for smaller screens */
        height: 60px;
    }

    nav {
        flex-direction: column; /* Display navigation links vertically on mobile */
    }

    nav li {
        margin-right: 0; /* Remove margin between navigation links */
        margin-bottom: 10px;
    }

    select {
        margin-bottom: 10px; /* Add some spacing between select and cards */
    }

    .card {
        width: 100%; /* Make cards full-width on mobile */
    }

    .Bakugan {
        width: 100%; /* Make cards full-width on mobile */
    }

    .article-card {
        width: calc(100% - 10px);
        margin: 10px 0;
    }
}


@media screen and (min-width: 769px) {
    .article-card {
        width: calc(25% - 15px); /* Ajustez la largeur selon votre préférence et ajoutez de l'espace entre les articles */
        margin: 10px 0;
    }
  }

/* Ajoutez une barre de défilement personnalisée */
::-webkit-scrollbar {
    width: 12px; /* Largeur de la barre de défilement */
}

/* Barre de défilement */
::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3); /* Couleur de la barre de défilement */
    border-radius: 10px; /* Bord arrondi de la barre de défilement */
}

/* Bouton de défilement au survol */
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.5); /* Couleur au survol */
}

/* Fond de la barre de défilement */
::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1); /* Couleur du fond de la barre de défilement */
}
